body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.top{
    width: 50%;
    padding:20px;
} 
.section1{
    display: flex;
}
h1{
    font-size: 50px;
}
.color{
    color: yellow;
}
.img-width{
    width: 80%;
}
.top-banner{
    background-image: url(images/shapes/Frame\ 58.jpg);
}
.section2{
    display: flex;
    background-image: url(images/shapes/Frame\ 59.jpg);
}
.button{
    color: white;
    background-color: tomato;
    border-radius: 10px;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: 800;
}